li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.App {
  min-height: 2000px;
}

.header {
  background-color: #ddd;
  position: sticky;
  top: 0%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 20px 10px #ddd;
          box-shadow: 0px 0px 20px 10px #ddd;
}
.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header h1 {
  font-style: italic;
  color: red;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header ul li {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header ul li a i {
  color: black;
}
.header ul li a span {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  padding: 4px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: red;
  top: -10px;
  right: -5px;
  color: white;
}

@media (max-width: 700px) {
  .header .flex ul li a span {
    top: -10px;
    right: -3px;
  }
}
.home {
  -webkit-box-shadow: 0px 5px 10px #ddd;
          box-shadow: 0px 5px 10px #ddd;
  padding-bottom: 50px;
}
.home .container .slick-arrow {
  display: none !important;
}
.home .container .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -7%;
  left: 50%;
  width: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home .container .slick-dots li button {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
}
.home .container .slick-dots li button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-color: #333;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.home .container .slick-dots li button:hover::before {
  background-color: #ddd;
}
.home .container .slick-dots li.slick-active button::before {
  background-color: red;
}
.home .container .box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .container .box .con {
  width: 50%;
}
.home .container .box .con h1 {
  width: 300px;
}
.home .container .box .con button {
  padding: 6px 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.home .container .box .img img {
  width: 300px;
  height: 300px;
}

@media (max-width: 700px) {
  .home .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .box .con {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100% !important;
  }
}