li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.pad {
  border-radius: 20px;
  padding: 4px 8px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.btn {
  padding: 0%;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn:hover {
  background-color: red;
}
.btn:hover i {
  color: white;
}
.btn i {
  color: red;
}

h1.cen {
  -webkit-animation: spin 3s forwards infinite;
          animation: spin 3s forwards infinite;
  text-align: center;
  color: #fd9696;
  padding: 35px 0px;
  margin: 0%;
}
h1.cen span {
  color: #fd9696;
}
h1.cen i {
  color: red;
}

@-webkit-keyframes spin {
  20% {
    -webkit-transform: rotatex(90deg);
            transform: rotatex(90deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotatey(90deg);
            transform: rotatey(90deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  70% {
    -webkit-transform: skew(15deg, 15deg);
            transform: skew(15deg, 15deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@keyframes spin {
  20% {
    -webkit-transform: rotatex(90deg);
            transform: rotatex(90deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotatey(90deg);
            transform: rotatey(90deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  70% {
    -webkit-transform: skew(15deg, 15deg);
            transform: skew(15deg, 15deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
.header {
  background-color: white;
  position: sticky;
  top: 0%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 20px 0px #ddd;
          box-shadow: 0px 0px 20px 0px #ddd;
}
.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header h1 {
  font-style: italic;
  color: red;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header ul li {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header ul li a i {
  color: black;
}
.header ul li a span {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  padding: 4px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: red;
  top: -15px;
  right: -5px;
  color: white;
}

@media (max-width: 700px) {
  .header .flex ul li a span {
    top: -15px;
    right: -8px;
  }
}
.home {
  -webkit-box-shadow: 0px 5px 10px #ddd;
          box-shadow: 0px 5px 10px #ddd;
  padding-bottom: 50px;
}
.home .container .slick-arrow {
  display: none !important;
}
.home .container .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -7%;
  left: 50%;
  width: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home .container .slick-dots li button {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
}
.home .container .slick-dots li button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-color: #333;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.home .container .slick-dots li button:hover::before {
  background-color: #ddd;
}
.home .container .slick-dots li.slick-active button::before {
  background-color: red;
}
.home .container .box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .container .box .con {
  width: 50%;
}
.home .container .box .con h1 {
  width: 300px;
}
.home .container .box .con button {
  padding: 6px 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.home .container .box .img img {
  width: 300px;
  height: 300px;
}

@media (max-width: 700px) {
  .home .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .box .con {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100% !important;
  }
}
.deals {
  padding-bottom: 70px;
  background-color: #ddd;
  overflow: hidden;
}
.deals .container .slick-slide > div {
  margin: 0px 10px;
}
.deals .container .slick {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}
.deals .container .slick .img {
  height: 250px;
}
.deals .container .slick .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.deals .container .slick .pad {
  position: absolute;
  top: 10px;
  left: 10px;
}
.deals .container .slick > p {
  font-style: oblique;
  margin-bottom: 2px;
}
.deals .container .slick .stars i {
  color: orange;
  margin: 0px 2px;
}
.deals .container .slick .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.deals .container .slick .flex p {
  color: red;
  font-weight: bold;
}
.deals .container .next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-top: 20px;
  left: 51%;
  cursor: pointer;
}
.deals .container .next i {
  color: red;
}
.deals .container .prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  right: 51%;
  bottom: -50px;
  cursor: pointer;
}
.deals .container .prev i {
  color: red;
}

.cart {
  background-color: #ddd;
  min-height: 100vh;
  overflow: hidden;
}
.cart .container {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}
.cart .container .all {
  height: auto;
  padding-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px #ddd;
          box-shadow: 0px 0px 20px 0px #ddd;
  border-radius: 20px;
}
.cart .container .all .img {
  position: relative;
}
.cart .container .all .img img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart .container .all .flex {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .container .all .flex .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart .container .all .flex .one .con p:first-of-type {
  font-weight: 900;
  color: red;
}
.cart .container .all .flex .one .con p:nth-of-type(2) {
  font-weight: bold;
}
.cart .container .all .flex .one .con p:nth-of-type(2) span {
  color: red;
}
.cart .container .all .flex .two {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clear {
  text-align: center;
}
.clear button {
  padding: 8px 0px;
  width: 90%;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 900;
  color: #fd9696;
  cursor: pointer;
}
.clear h1 {
  color: #fd9696;
}
.clear:nth-of-type(2) {
  margin: 30px 0px;
}

@media (max-width: 900px) {
  .cart .container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  .cart .container .all .flex .two {
    padding-bottom: 12px;
    width: 130px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cart .container .all .flex .two input {
    width: 60px;
  }
  .cart .container .all .flex .two input::-webkit-input-placeholder {
    color: white;
  }
  .cart .container .all .flex .two input::-moz-placeholder {
    color: white;
  }
  .cart .container .all .flex .two input:-ms-input-placeholder {
    color: white;
  }
  .cart .container .all .flex .two input::-ms-input-placeholder {
    color: white;
  }
  .cart .container .all .flex .two input::placeholder {
    color: white;
  }
}
.cate {
  overflow: hidden;
}
.cate .container {
  margin: 30px auto;
}
.cate .container .slick-slide > div {
  margin: 0px 10px;
}
.cate .container .slick-arrow {
  display: none !important;
}
.cate .container .box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.cate .container .box img {
  width: 100%;
}
.cate .container .box .left {
  position: absolute;
  padding: 4px 8px;
  background-color: #ddd;
  color: #fd9696;
  left: 15px;
  text-transform: capitalize;
  border-radius: 16px;
  top: 15px;
  font-weight: bold;
}
.cate .container .box .right {
  position: absolute;
  padding: 4px 8px;
  right: 15px;
  background-color: #ddd;
  color: #fd9696;
  text-transform: capitalize;
  border-radius: 16px;
  top: 15px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .cate .container .box .right {
    top: 57%;
  }
}
.over {
  overflow: hidden;
}

.arrive {
  background-color: #ddd;
  margin-top: 20px;
  padding-bottom: 50px;
}
.arrive .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  background-color: white;
  border-radius: 20px;
}
.arrive .container .box {
  padding: 10px;
  border-radius: 10px;
}
.arrive .container .box img {
  width: 90%;
  height: 150px;
  border-radius: 10px;
}
.arrive .container .box h4 {
  margin: 0;
}
.arrive .container .box p {
  margin: 0;
  font-weight: bold;
  color: #fd9696;
}

@media (max-width: 463px) {
  .arrive .container {
    padding: 30px 0px;
  }
  .arrive .container .box img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .arrive .container .box h4, .arrive .container .box p {
    text-align: center;
  }
}
.discount {
  background-color: white;
  margin-top: 20px;
  padding-bottom: 50px;
}
.discount .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  border-radius: 20px;
}
.discount .container .box {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}
.discount .container .box img {
  width: 90%;
  height: 150px;
  border-radius: 10px;
}
.discount .container .box h4 {
  margin: 0;
}
.discount .container .box p {
  margin: 0;
  font-weight: bold;
  color: #fd9696;
}

@media (max-width: 473px) {
  .discount .container .box img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .discount .container .box h4, .discount .container .box p {
    text-align: center;
  }
}
.mobile {
  padding-bottom: 70px;
  background-color: #ddd;
  overflow: hidden;
}
.mobile .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}
.mobile .container .slick {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}
.mobile .container .slick .img {
  height: 250px;
}
.mobile .container .slick .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mobile .container .slick .pad {
  position: absolute;
  top: 10px;
  left: 10px;
}
.mobile .container .slick > p {
  font-style: oblique;
  margin-bottom: 2px;
}
.mobile .container .slick .stars i {
  color: orange;
  margin: 0px 2px;
}
.mobile .container .slick .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile .container .slick .flex p {
  color: red;
  font-weight: bold;
}

@media (max-width: 400px) {
  .mobile .container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
.banner {
  margin: 40px 0px;
}
.banner .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 3fr;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
.banner .container img {
  width: 100%;
  height: 300px;
}

@media (max-width: 1050px) {
  .banner .container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .banner .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}