li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0%;
    padding: 0%;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}

$box-shadow : 0px 0px 20px 10px #ddd ;

$border : 1px solid #ddd ; 




.App{
    min-height: 2000px;
}


 .pad {
    border-radius: 20px;
    padding: 4px 8px ;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.btn{
    width:30px ;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: $border ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i{
        color: red;
    }
}

h1.cen{
    animation: spin 3s forwards infinite ;
    text-align: center;
    color:#fac9c9;
    margin: 35px 0px;
    span{
        color:#fac9c9;
    }
    i{
        color: red;
    }
}


@keyframes spin {
    20%{
        transform: rotatex(90deg);
        transform-origin: top;
        transform: rotatey(90deg);
    }
    50%{
        transform: rotateX(90deg);
    }

    70%{
        transform: skew(15deg , 15deg);
        transform-origin: bottom;
    }
}


// Header


.header{
    background-color: white;
    position: sticky;
    top: 0%;
    z-index: 100;
    box-shadow: $box-shadow ;
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-style: italic;
        color: red;
    }
    ul{
        display: flex;
        gap: 10px;
        li{
            width: 40px;
            height: 40px;
            background-color: #ddd;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            a{
                i{
                    color: black;
                }
                span{
                    position: absolute;
                    min-width: 20px;
                    min-height: 20px ;
                    padding: 4px 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: red;
                    top: -10px;
                    right: -5px;
                    color: white;
                }
            }
        }
    }
}



@media (max-width : 700px) {
    .header{
        .flex{
            ul{
                li{
                    a{
                        span{
                            top: -10px ;
                            right: -3px;
                        }
                    }
                }
            }
        }
    }
}

// Header

// home 


.home{

    box-shadow: 0px 5px 10px #ddd;
    padding-bottom: 50px;
    .container{
        .slick-arrow{
            display: none !important;
        }
        .slick-dots{
            display: flex !important;
            justify-content: space-between;
            bottom: -7%;
            left: 50%;
            width: 120px;
            transform: translateX(-50%);
            li{
                button {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #333;
                    border-radius: 50%;
                    position: relative;

                    &::before{
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 50%;
                        background-color: #333;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        transform: translate(-50% , -50%);
                    }
                }

                button:hover::before{
                    background-color: #ddd ;        
                }

                &.slick-active {
                    button::before{
                        background-color: red;
                    }
               
                }

            }
        }
        .box{
            display: flex !important ;
            justify-content: space-between;
            align-items: center;
            .con{
                width: 50%;
                h1{
                    width: 300px;
                }
                button{
                    padding: 6px 20px;
                    background-color: red;
                    color: white;
                    font-weight: bold;
                    border: none;
                    border-radius: 5px;
                }
                
            }
            .img{
                img{
                    width: 300px;
                    height: 300px;
                }
            }
        }
    
}
}


@media (max-width : 700px ) {
    .home{
        .box{
            flex-direction: column;
            .con{
                order: 2;
                width: 100% !important;
            }
        }
    }
}

// home 


// deals

.deals{
    padding-bottom: 70px;
    background-color: #ddd;
    overflow: hidden;
    .container{
        .slick-slide > div {
            margin: 0px 10px ;
        }
        .slick{
            border: $border;
            background-color: white;
            border-radius: 10px;
            position: relative;
            padding: 10px;
            .img{
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .pad{
                position: absolute;
                top: 10px ;
                left: 10px;
            }
            &>p{
                font-style: oblique;
                margin-bottom: 2px;
            }
            .stars{
                i{
                    color:orange;
                    margin: 0px 2px;
                }
            }
            .flex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    color: red;
                    font-weight: bold;
                }
            }
        }
        .next{
            position: absolute;
            width: 30px ;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-top: 20px;
            left: 53%;
            i{
                color: red;
            }
            cursor: pointer;
        }
        .prev{
            position: absolute;
            width: 30px ;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            // margin-top: 20px;
            right: 50%;
            bottom: -50px;
            i{
                color: red;
            }
            cursor: pointer;
        }
    }
}

// deals

